<%- include('../partials/header') %>
  <h2>Brutalist Architecture Page</h2>
  <p><img class="pic" src="images/bru.JPG" /></p>
  <p>Description: Brutalist architecture is an architectural style which emerged during the 1950s in the United Kingdom, among the reconstruction projects of the post-war era.</p>
  <h5>Commonly Known For: </h5>
  <ul>
    <li>Massive/Monolithic</li>
    <li>Blocky Appearance</li>
    <li>Rigid Geometric Style</li>
    <li>Concrete</li>
  </ul>
  <p>Origin: The term originates from the use, by the pioneer modern architect and painter Le Corbusier, of 'beton brut' – raw concrete in French.</p>

  <p>Info and images taken from google</p>

<%- include('../partials/footer') %>

