<%- include('../partials/header') %>
  <h2>Greek Revival Architecture Page</h2>
  <p><img class="pic" src="images/greek.JPG" /></p>
  <p>Description: Greek Revival is a style of architecture inspired by the symmetry, proportion, simplicity, and elegance of the ancient Greek temples</p>
  <h5>Commonly Known For: </h5>
  <ul>
    <li>White</li>
    <li>Bold with simple moldings</li>
    <li>Heavy Cornicies</li>
    <li>Marble Representation</li>

  </ul>
  <p>Origin: Sir Nikolaus Pevesner, John Fleming and Hugh Honor, the earliest Greek Revival building is a garden temple at Hagley (England) by Stuart (1758)</p>
  <p>Info and images taken from google</p>

<%- include('../partials/footer') %>

