<%- include('../partials/header') %>
  <h2>Hyper Modern Architecture Page</h2>
  <p><img class="pic" src="images/mod.jpg" /></p>
  <p>Description: Hypermodernism is a cultural, artistic, literary and architectural successor to modernism and postmodernism in which the form (attribute) of an object has no context distinct from its function. Attributes can include shapes, colors, ratios, and even time.</p>
  <h5>Commonly Known For: </h5>
  <ul>
    <li>Clean, Minimal Lines</li>
    <li>Broad Roof Overhangs</li>
    <li>Glass Walls or Large Windows</li>
    <li>Open and Well Designed Floorplans</li>
    <li>Asymmetrical Designs</li>
  </ul>
  <p>Origin: The term originates from the use, by the pioneer modern architect and painter Le Corbusier, of 'beton brut' – raw concrete in French.</p>
  <p>Info and images taken from google</p>

<%- include('../partials/footer') %>

