<%- include('../partials/header') %>
  <h2>My Home Page About Architecture!</h2>
  <p><img class="pic" src="images/arch.JPG" /></p>
  <p>Welcome to my architecture website! In this webiste I am using Express and EJS to build a Node.js website. This website splits headers and footers into partials to be stiched together. </p>


<%- include('../partials/footer') %>

