<%- include('../partials/header') %>
  <h2>Neo Futurism Architecture Page</h2>
  <p><img class="pic" src="images/neo.JPG" /></p>
  <p>Description: Neo-futurism is a utopian architecture movement from the beginning of the 21st century. Its conceptual foundations combine ethics, aesthetics and innovation in a quest for an ideal when its concrete realization gives primacy to form and material.</p>
  <h5>Commonly Known For: </h5>
  <ul>
    <li>Urban</li>
    <li>Emotion</li>
    <li>Eco-sustainability</li>
    <li>Ethical</li>
    <li>New Materials and Technology</li>
    <li>Utopia</li>
  </ul>
  <p>Origin: Neo-futurism is a late 20th to early 21st century movement in the arts, design, and architecture. It could be seen as a departure from the attitude of post-modernism and represents an idealistic belief in a better future and “a need to periodize the modern rapport with the technological”.</p>
  <p>Info and images taken from google</p>

<%- include('../partials/footer') %>

